{
  "extends": [
    "airbnb-typescript",
    "prettier",
    "eslint:recommended",
    "plugin:import/recommended",
    "plugin:react/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "ignorePatterns": ["vite.config.mts"],
  "parserOptions": {
    "project": "tsconfig.json"
  },
  "plugins": ["@typescript-eslint", "testing-library", "prettier", "react-hooks", "import", "jsx-a11y"],
  "env": {
    "browser": true,
    "es6": true,
    "mocha": true,
    "node": true
  },
  "settings": {
    // Needed to help eslint understand absolute imports, at least for intellij.
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  },
  "rules": {
    "@typescript-eslint/consistent-type-imports": "warn",
    "@typescript-eslint/indent": "off",
    "@typescript-eslint/naming-convention": [
      "error",
      // Allow camelCase variables (23.2), PascalCase variables (23.8), and UPPER_CASE variables (23.10)
      {
        "format": ["camelCase", "PascalCase", "UPPER_CASE"],
        "leadingUnderscore": "allow",
        "selector": "variable"
      },
      // Allow camelCase functions (23.2), and PascalCase functions (23.8)
      {
        "format": ["camelCase", "PascalCase"],
        "leadingUnderscore": "allow",
        "selector": "function"
      },
      // Airbnb recommends PascalCase for classes (23.3), and although Airbnb does not make TypeScript recommendations, we are assuming this rule would similarly apply to anything "type like", including interfaces, type aliases, and enums
      {
        "format": ["PascalCase"],
        "selector": "typeLike"
      }
    ],
    "@typescript-eslint/no-unused-vars": "warn",
    "@typescript-eslint/space-before-function-paren": "off",
    "arrow-parens": ["error", "as-needed"],
    "import/imports-first": ["error", "absolute-first"],
    "import/newline-after-import": "error",
    "import/no-cycle": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true,
        "packageDir": "./"
      }
    ],
    "import/no-named-as-default": "off",
    "import/prefer-default-export": "off",
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "aspects": ["noHref", "invalidHref", "preferButton"],
        "components": ["Link"],
        "specialLink": ["to", "hrefLeft", "hrefRight"]
      }
    ],
    "jsx-a11y/control-has-associated-label": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "linebreak-style": "off",
    "max-len": [
      "off",
      {
        "code": 120,
        "ignoreComments": true,
        "ignoreRegExpLiterals": true,
        "tabWidth": 2
      }
    ],
    "no-async-promise-executor": "off",
    "no-console": "warn",
    "no-extra-boolean-cast": "off",
    "no-nested-ternary": "off",
    "no-plusplus": "off",
    "no-prototype-builtins": "warn",
    "no-underscore-dangle": "off",
    "no-unused-vars": "warn",
    "radix": "off",
    "react-hooks/exhaustive-deps": "warn", // Checks effect dependencies
    "react-hooks/rules-of-hooks": "error", // Checks rules of Hooks
    "react/display-name": "warn",
    "react/jsx-curly-newline": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    ],
    "react/jsx-one-expression-per-line": [
      "off",
      {
        "allow": "literal"
      }
    ],
    "react/jsx-props-no-spreading": "off",
    "react/jsx-uses-react": "off",
    "react/jsx-wrap-multilines": "off",
    "react/no-array-index-key": "off",
    "react/no-children-prop": "off",
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off",
    "semi": "error"
  },
  "globals": {
    "Blob": true,
    "document": true,
    "fetch": true,
    "FileReader": true,
    "FormData": true,
    "Headers": true,
    "localStorage": true,
    "navigator": true,
    "Request": true,
    "vi": true,
    "window": true
  }
}
