
.dropzone {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #fafafa;
    outline: none;
    border: 2px #f1f1f1 dashed;
    border-radius: 5px;
    color: #CCC;
}

.dropzone.drag-enter, .dropzone:hover {
    border: 2px #AAA dashed;
    background-color: #F6F6F6;
    color: #AAA;
}

.dark-mode .dropzone{
    color: #586a88;
    background-color: #262e3c;
    border: 2px #586a88 dashed;
}

.dark-mode .dropzone.drag-enter,
.dark-mode .dropzone:hover{
    color: #809bc8;
    background-color: #2f3849;
    border: 2px #809bc8 dashed;
}

.dark-mode .action_divider > div {
    background-color: #2D3748;
}

.action_divider {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin: 30px 0;
    position: relative;
    border-top: 1px solid #AAAAAA;
}

.action_divider > div {
    background-color: #FFFFFF;
    left: 50%;
    margin-left: -30px;
    position: absolute;
    top: -10px;
    width: 60px;
}