@media print {
  @page {
    size: auto;
    margin: 15mm;
  }

  .no-print,
  .no-print * {
    display: none !important;
  }

  .print-footer {
    position: fixed;
    text-align: center;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    color: #0000008a;
    background-color: #fff !important;
  }
}

@media screen {
  .print-only,
  .print-only * {
    display: none !important;
  }
}
